@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

.calendar-color-box {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    color: var(--item-backcolor) !important;
    font-size: 10px !important;
}

.calendar-color-box[allday="true"] {
    background-color: var(--item-backcolor) !important;
    color: white !important;
}

